
@model RazorPetService.Models.Usuarios
@{
    @using Microsoft.AspNetCore.Http;
        @if (string.IsNullOrEmpty(Context.Session.GetString("Sesion0")))
        {

    }
    else
    {
        <meta http-equiv="refresh" content="0;url=https://localhost:5001/Home/Redirrecion"/>
    }
}

<section class="form-login">
    <form asp-action="Onpost" method="post" >
        <h5>Formulario de sesión</h5>
        <input class="controls" type="email" name="Correo" id="Correo" asp-for="Correo" value="" placeholder="Usuario">
        <input class="controls" type="password" name="Contra" id="Contra" asp-for="Contra" value="" placeholder="Contraseña">
         @*<input class="controls" name="IdRol" id="IdRol" asp-for="IdRol" value="1" hidden>*@
        <input class="buttons" type="submit" name="" value="Ingresar">
        <p><a asp-action="LoginAdmin">¿Eres administrador?</a></p>
        
    </form>
    
</section>
<center><p><a asp-controller="Usuarios" asp-action="Create">Registrate</a></p></center>