@model IEnumerable<RazorPetService.Models.Categorias>

@{
    @using Microsoft.AspNetCore.Http;
        @if (string.IsNullOrEmpty(Context.Session.GetString("Sesion0")))
        {
            <meta http-equiv="refresh" content="0;url=https://localhost:5001/Sesion/LoginAdmin"/>
        }
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<p>
    <a asp-action="Create">Añadir nueva categoría</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoria">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
