@model RazorPetService.Models.Productos

@{
    ViewData["Title"] = "Consulta_detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section my-services" data-section="section2">
    <div class="container">
        <div class="section-heading">
            <h1 style="text-align:center">Casa modelo</h1>
            <div class="line-dec"></div>
        </div>
        <div class="card mb-3 text-center bg-light border-light text-dark">
            <img src="~/images/@Html.DisplayFor(modelItem => Model.FotoProducto)" class="card-img-top" width="200" height="200">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => Model.NombreProducto)</h5>
                <p class="card-text text-center text-dark">Categoría: <br /> @Html.DisplayFor(modelItem => Model.IdCategoriaNavigation.NombreCategoria)  </p>
                <p class="card-text text-center text-dark">Cantidad: <br /> @Html.DisplayFor(modelItem => Model.Cantidad)  </p>
                <p class="card-text text-center text-dark">Precio: <br /> @Html.DisplayFor(modelItem => Model.Precio) cm</p>
               
                <div class="white-button">
                    <a asp-action="Index">Regresar</a>
                </div>
            </div>
        </div>        
    </div>
</section>