@model IEnumerable<RazorPetService.Models.Productos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<br />
<br />

<div class="conatiner">
<div class="wrap">
	
	@foreach(var item in Model){
	<div class="box one" >
		
		<div class="date">
			<h4>@Html.DisplayFor(modelItem => item.Precio)</h4>
		</div>
		<img src="~/productos//@Html.DisplayFor(modelItem => item.FotoProducto)" class="card-img-top" alt=""/>
		<h1>@Html.DisplayFor(modelItem => item.NombreProducto)</h1>
		<div class="poster p1">
			<h4>Z</h4>
		</div>
	</div>
	}
	

	
</div>
</div>

<!-- FOLLOW -->
@*<a class="Follow" href="https://codepen.io/ZaynAlaoudi/" target="blank_"></a>*@