@{
    ViewData["Title"] = "Home Page";
}
@model RazorPetService.Models.Mascotas

<br />
<br />
<br />
<br />
<br />


<main id="main">

    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Conece los mejores servicios para tus mascotas.</h1>
                    <h2>Mira el talento de nuestros apartados en este sitio web.</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                       @* <a asp-action="Proyectos" asp-controller="Home" class="btn-get-started scrollto">Ver los proyectos</a>
                        <a asp-controller="Home" asp-action="Divisiones" class="btn-get-started scrollto">Ver las divisiones</a>*@
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/assets/logo-petservice.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Mira alguno de los ejemplares satisfechos con el servicio.</h3>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" asp-controller="CatalogoMascotas" asp-action="Index">VER</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">










        @*<div class="row">
                        
                        
                            <center>
                                <div class="card text-center text-dark bg-light border-light " style="width: 18rem;">
                                <img src="/assets/9662acfd-ebe4-4f2a-b79d-e9f5df40a143.jpg" class="card-img-top" width="70" height="70">
                                <div class="card-body">
                                    <h5 class="card-title">Javier Ricardo Balam Tec</h5>
                                    
                                </div>
                            </div>
                            </center>
                           <center> <div class="card text-center text-dark bg-light border-light " style="width: 18rem;">
                                <img src="/assets/profilepicturev2 (1).jpg" class="card-img-top" alt="" width="70" height="70">
                                <div class="card-body">
                                    <h5 class="card-title">Erwin Daniel Ramos Puc</h5>
                                    
                                </div>
                            </div></center>
                           <center>
                                <div class="card text-center text-dark bg-light border-light " style="width: 18rem;">
                                <img src="/assets/profilepicturev2 (2).jpg" class="card-img-top" alt="" width="70" height="70">
                                <div class="card-body">
                                    <h5 class="card-title">Karina Andrea Moo Uc</h5>
                                    
                                </div>
                            </div>
                           </center>
                            <center>
                                <div class="card text-center text-dark bg-light border-light " style="width: 18rem;">
                                <img src="/assets/profilepicturev2.jpg" class="card-img-top" alt="" width="5" height="5">
                                <div class="card-body">
                                    <h5 class="card-title">Fernando David Tziu Mota</h5>
                                    
                                </div>
                            </div>
                            </center>
          </div>*@



   

        <div class="container-fluid" data-aos="fade-up">

          


            <!-- ======= Cta1 Section ======= -->
            <section id="cta1" class="cta">
                <div class="container" data-aos="zoom-in">

                    <div class="row">
                        <div class="col-lg-9 text-center text-lg-start">
                            <h3>Conoce las servicios que tenemos</h3>
                       </div>
                        <div class="col-lg-3 cta-btn-container text-center">
                            <a class="cta-btn align-middle" asp-controller="Servicios" asp-action="Index">VER</a>
                        </div>
                    </div>

                </div>
            </section><!-- End Cta Section -->

            <section id="cliens1" class="cliens section-bg">
                <div class="container">

                    <div class="row" data-aos="zoom-in">

                        <div class="col">
                            <h1>NO OLVIDES VISITAR MAS DEL SITIO</h1>
                        </div>
                    </div>

                </div>

            </section>
</main>