
@{
    ViewData["Title"] = "Redirrecion";
   //@using Microsoft.AspNetCore.Http;
   //     @if (string.IsNullOrEmpty(Context.Session.GetString("Sesion0")) || string.IsNullOrEmpty(Context.Session.GetString("Sesion1")))
   //     {

   // }
   // else
   // {
   //     <meta http-equiv="refresh" content="0;url=https://localhost:5001/Home/Redirrecion"/>
   // }
}
<br />
<br />
<br />
<br />
<br />
<br />

<h1>No es posible iniciar sesión como usuario si ya eres ADMINISTRADOR.</h1>
